body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer-social-links {
    list-style-type: none;
}

.footer-social-links li {
    display: inline-block;
}

.footer-social-logo {
    width: 32px;
}